{% extends "terminimal/templates/tags/list.html" %}

{% block content %}
    <div class="post list-page">
        <header class="list-page__header">
            <p>Browse by topic</p>
            <h1 class="post-title">All tags</h1>
        </header>

        <ul class="term-grid">
            {% for term in terms %}
            <li class="tag-list">
                <a href="{{ term.permalink | safe }}">
                    <span>{{ term.name }}</span>
                    <small>{{ term.pages | length }} post{{ term.pages | length | pluralize }}</small>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div data-mobile-subscribe-host></div>
    </div>
{% endblock content %}
