{% extends "terminimal/templates/tags/single.html" %}

{% block content %}
    <div class="post list-page">
        <header class="list-page__header">
            <p>{{ term.pages | length }} post{{ term.pages | length | pluralize }}</p>
            <h1 class="post-title">#{{ term.name }}</h1>
            <a class="list-page__back" href="{{ config.base_url | safe }}/tags/">Show all tags</a>
        </header>

        {{ post_macros::list_posts(pages=term.pages) }}
        <div data-mobile-subscribe-host></div>
    </div>
{% endblock content %}
