{% extends "index.html" %}

{%- block title -%}
{% set page_title = "Series: " ~ term.name %}
{{ title_macros::title(page_title=page_title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    {% set series_name = term.name | replace(from="-", to=" ") %}
    <div class="post list-page list-page--series">
        <header class="list-page__header series-hero series-hero--single">
            <div>
                <p>{{ term.pages | length }} part{{ term.pages | length | pluralize }}</p>
                <h1 class="post-title">{{ series_name }}</h1>
            </div>
            <a class="list-page__back" href="{{ config.base_url | safe }}/series/">All series</a>
        </header>

        <ol class="series-sequence">
            {% for page in term.pages | sort(attribute="date") %}
            <li class="series-step">
                <a class="series-step__link" href="{{ page.permalink | safe }}">
                    <span class="series-step__number">Part {{ loop.index }}</span>
                    <span class="series-step__copy">
                        <span class="series-step__title">{{ page.title }}</span>
                        {% if page.description %}
                            <span class="series-step__description">{{ page.description }}</span>
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ol>

        <div data-mobile-subscribe-host></div>
    </div>
{% endblock content %}
