$phone-max-width: 683px;
$tablet-max-width: 899px;
$overlay-widget-width: 360px;
$overlay-content-min-width: 660px;
$overlay-tab-width: 112px;
$overlay-mobile-peek-height: 40px;
$overlay-collapse-width: $overlay-widget-width + $overlay-content-min-width + 80px;
