{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post list-page">
        <header class="list-page__header">
            <p>Browse by date</p>
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {% set posts_section = get_section(path="posts/_index.md") %}
        {% set ordered_posts = posts_section.pages | sort(attribute="date") | reverse %}

        <ol class="entry-list">
        {% for page in ordered_posts %}
            {% if not page.extra.hidden %}
            <li class="entry-list__item">
                <a class="entry-list__link" href="{{ page.permalink | safe }}">
                    <span class="entry-list__date">
                        {%- if page.date %}{{ page.date | date(format="%Y-%m-%d") }}{% endif -%}
                    </span>
                    <span class="entry-list__title">{{ page.title }}</span>
                </a>
                {{ post_macros::tags(page=page, short=true) }}
            </li>
            {% endif %}
        {% endfor %}
        </ol>

        <div data-mobile-subscribe-host></div>
    </div>
{% endblock content %}
